body{background:#1a4f7c; margin:0px; padding:0px;}
#main {display: block; width: 1000px; height: 1000px; margin: auto; background:url('frank-basti.jpg'); }
#memory{font-size:10px; color:#1a4f7c; display: block; margin; auto; width: 100%; text-align: center; font-family: "Lucida Console", Monaco, monospace}